{% extends "base.html" %}

{% block title %}Treasure Chest | Accounts{% endblock %}

{% block content %}

<!-- Account data -->
<h1>Accounts</h1>

{% if account_list %}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Account Name</th>
            <th>Balance</th>
	    <th>Label (TODO: each account can have multiple labels)</th>
        </tr>
    </thead>

    <tbody>
        {% for account in account_list %}
		{% if not label_filter or account.label == label_filter %}
		<tr>
		    <td>
		        <a href="{% url account_detail account.pk %}">
		            {{ account.name }}
		        </a>
		    </td>
		    <td>
		        {% if account.balance < 0 %}
		            <div class="neg_balance">
		        {% endif %}

		        {{ account.balance }}

		        {% if account.balance < 0 %}
		            </div>
		        {% endif %}
		    </td>
		    <td>{{ account.label }}</td>
		</tr>
		{% endif %}
	{% endfor %}
    </tbody>

</table>
<br>

<!-- Account labels -->
TODO - This shouldn't show up if label_filter is None. It does anyway.
{% if not label_filter %}
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Active Labels</th>
		</tr>
	</thead>
	<tbody>
		{% for label in label_list %}
			<tr>
				<td>
					<a href="{% url account_list label %}">
						{{ label }}
					</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endif %}

{% else %}

<!-- Page called without any accounts passed through -->

<h3>No accounts found. Why don't you make one?</h3>

{% endif %}

<!-- Controls to make a new account -->

<p>
<a href="{% url account_create %}" class="btn btn-primary btn-large">
    Make new account
</a>
</p>

{% endblock %}
